@tailwind base;
@tailwind components;
@tailwind utilities;


.perspective-1000 {
  perspective: 1000px;
}
html {
  scroll-behavior: smooth;
}

.rotateY-10 {
  transform: rotateY(10deg);
}
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar */
  background-color: theme('colors.background'); /* default background */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.primary-light'); /* color of the scroll thumb */
  border-radius: 4px;
  border: 1px solid theme('colors.background'); /* space around scroll thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.primary'); /* color of the scroll thumb on hover */
}